
<h1>Week 6 Day 1 at The Iron Yard</h1>


<left><h3>Relevent Web Sites</h3><left>
  <div>
    <ul>
      <li>
        <a href="https://newline.theironyard.com/paths/832/units/5781/assignments/14300">Assignment: Welcome to the Frontend</a>
      </li>
      <li>
        <a href="https://newline.theironyard.com/paths/832/units/5781/lessons/24244">Lesson: Intro to HTML and CSS</a>
      </li>
      <li>
        <a href="https://validator.w3.org">Markup Validation Service - Validate your html</a>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=FdjNgEoc9Y8">UTube Lesson Review - Chris' lecture W6D1</a>
      </li>
      <li>
        <a href="https://github.com/tiy-indy-bee-ror-jan17/course_notes/tree/master/week6/day1">Course Notes</a>
      </li>

    </ul>
  </div>





<h3>Imbedded Video</h3>
  <div id="EDSVideo">
    <iframe width="420" height="315"
      src="https://www.youtube.com/embed/m_MaJDK3VNE">
    </iframe>
  </div>

<h3>Cute Puppy Pictures</h3>

    <img src="http://www.warrenphotographic.co.uk/photography/cats/38173.jpg"
       alt="monday shovel" height="200" width="200">

    <a href="https://www.theironyard.com/indianapolis.html">
   <%= image_tag("240_F_48013231_gumGeJuQgaIuRElO1jDRBJ33FKTUekSA.jpg") %>Click on we cute puppies to go to The Iron Yard</a>


   <img src="http://media.istockphoto.com/photos/golden-retrievers-wearing-rain-boots-and-holding-an-umbrella-picture-id531306536"
      alt="missing1" height="300" width="300">

 <h2> Audio options </h2>

     <img src="http://theartist.me/wp-content/uploads/2015/12/the_scream__in_vector_by_lost_of_existence-d5ti5b9.jpg" width="220" height="277" alt="The Scream">
     <p><cite>The Scream</cite> by Edward Munch. Painted in 1893.</p>


<ul>
  <li>
    <a href="http://www.wavsource.com/snds_2017-03-05_7549739125831384/animals/cat_scream.wav" id="audioControl">Play Cat Scream!</a>
  </li>
  <li>
    <a href="http://www.wavsource.com/snds_2017-03-05_7549739125831384/sfx/scream_x.wav" id="audioControl">Play woman screens!</a>
  </li>
</ul>
