// Place all the styles related to the Visitor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



 /* <li class="item"> */
li {
 background-color: white;
 font-size: 18px;
 font-family: italic;
}

// h1 {
//    text-decoration: underline;
//    text-align: center;
// }
//
//
//
// <h3>Imbedded Video</h3>
//   <div id="EDSVideo">
//     <iframe width="420" height="315"
//       src="https://www.youtube.com/embed/m_MaJDK3VNE">
//     </iframe>
//   </div>
